<div class="bs-social-entity-userimage">
	{{{userimage}}}
</div>
<div class="bs-social-entity-right">
	<div class="bs-social-entity-title">
		<h3>{{{title}}}</h3>
		<span class="bs-social-entity-timecreated">
			{{{timestampcreated}}}
		</span>
		<span class="bs-social-entity-author">
			<a href="{{authorpage}}" title="{{author}}">{{author}}</a>
		</span>
		<div class="bs-social-entity-other-content">
			{{{beforecontent}}}
		</div>
	</div>
	<div class="bs-social-entity-actions">
		<div class="bs-social-entity-actions-btn"></div>
		<div class="bs-social-entity-actions-content"></div>
	</div>
	<div class="bs-social-entity-beforecontent">

	</div>
	<div class="bs-social-entity-content">
		{{{content}}}
	</div>
</div>
<div class="bs-social-entity-aftercontent">
	{{{aftercontent}}}
</div>
<ul class="bs-social-entitylist-children">
	{{{beforechildren}}}
	{{{children}}}
	{{{afterchildren}}}
</ul>
