<div class="bs-social-entity-wrapper">
	<div class="bs-social-entity-beforecontent">
		{{{beforecontent}}}
	</div>
	<div class="bs-social-entity-wikipagebasetitlecontent">
		{{{basetitlecontent}}}
	</div>
	<div class="bs-social-entitylist-children bs-social-entitylist-wikipage-children">
		{{{beforechildren}}}
		{{{children}}}
		{{{afterchildren}}}
	</div>
	<div class="bs-social-entity-wikipageleftcolumn">
	</div>
	<div class='bs-social-entity-wikipagerightcolumn'>
		<div class="bs-social-entity-content">
		</div>
	</div>
	{{{entityactions}}}
	<div class="clearfix"></div>
	<div class="bs-social-entity-aftercontent">
		{{{aftercontent}}}
	</div>
</div>
