<div class="bs-social-entity-beforecontent">
	{{{beforecontent}}}
</div>
<div class="bs-social-entity-wikipagebasetitlecontent">
	{{{basetitlecontent}}}
</div>
<ul class="bs-social-entitylist-children bs-social-entitylist-wikipage-children">
	{{{beforechildren}}}
	{{{children}}}
	{{{afterchildren}}}
</ul>
<div class="bs-social-entity-wikipageleftcolumn">
</div>
<div class='bs-social-entity-wikipagerightcolumn'>
	<div class="bs-social-entity-content">
		{{{content}}}
	</div>
</div>
<div class="bs-social-entity-actions">
	<div class="bs-social-entity-actions-btn"></div>
	<div class="bs-social-entity-actions-content"></div>
</div>
<div class="clearfix"></div>
<div class="bs-social-entity-aftercontent">
	{{{aftercontent}}}
</div>
